pripnuippnutanjungharjo.my.id {
    root * /home/ghofur/app/public
    php_fastcgi frankenphp
    encode gzip zstd
    file_server

    tls {
        protocols tls1.2 tls1.3
    }

    @sitemap {
        path /sitemap.xml
    }
    handle @sitemap {
        file_server
    }

    @notFile {
        file {
            try_files {path} /index.php
        }
    }
    rewrite @notFile /index.php

    header {
        -MultiViews
        -Indexes
        Authorization {http.request.header.Authorization}
        X-XSRF-Token {http.request.header.X-XSRF-Token}
    }

    # Redirect semua HTTP ke HTTPS
    @httpOnly {
        protocol http
    }
    redir @httpOnly https://{host}{uri} permanent
}
